<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
		<% include head %>
	</head>
	<body>
		<div class="recruit_job">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/links" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt">应用领域</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<% include side_contact %>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">招聘列表 > <%= job.title %></div></div>
								<h1 class="job_title"><%= job.title %></h1>
								<div class="job_other_info">
									<span>招聘人数：<%= job.number %>人  </span>
									<span>发布时间：<%= job.time.minute %></span>
								</div>
								<div class="simditor">
									<div class="simditor-body">
										<%- job.content %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
			<script src="js/recruit.js"></script>
		</div>
	</body>
</html>